<div>
    <section class="slider-container  slider-hero-section2" style="background-image: url('/assets/world.png')">           
        <div class="container user-select-none">
            <div class="row slider-content align-items-center hero-section2 flex-column-reverse flex-md-row">
                <div class="col-12 col-md-7 col-lg-6">
                    <h1 class="text-secondary font-weight-bold">Joy of learning &amp; teaching...</h1>
                    <p class="slide-hint text-gray mt-2">a fully-featured educational platform that helps instructors to create and publish video courses, live classes, and text courses and earn money, and helps students to learn in the easiest way.</p>

                    <form action="/search" method="get" class="d-inline-flex mt-3 mt-lg-3 w-100">
                        <div class="form-group d-flex align-items-center m-0 slider-search p-10 bg-white w-100">
                            <input type="text" name="search" class="form-control border-0 mr-lg-5" placeholder="Search courses, instructors and organizations...">
                            <button type="submit" class="btn btn-primary rounded-pill">Search</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-5 col-lg-6" *ngIf="!_hide">
                    <app-login></app-login>
                </div>
            </div>
        </div>
        
    </section>
</div>